<fieldset>
  <p>Add an Animal</p>
    <form method ='POST' actions='/animals'>
      <input type="text" name="animal[name]" placeholder="Name">
      <input type="text" name="animal[breed]" placeholder="Breed">
      <input type="text" name="animal[dob]" placeholder="dd/mm/yyyy">
      <input type="text" name="animal[gender]" placeholder="Gender(M F)">
      <input type="text" name="animal[family]" placeholder="Family">
      <input type="text" name="animal[status]" placeholder="Status">
      <input type="submit" value="Add an animal">
    </form>
</fieldset>

<ul>
<% animals.forEach( function(animal){ %>
  <li>
    <h2><%= animal.name %></h2>
    <ul>
      <li><b>Breed :  </b> <%= animal.breed %></li>
      <li><b>Dob :    </b> <%= new Date(animal.dob).toDateString() %></li>
      <li><b>Gender : </b> <%= animal.gender %></li>
      <li><b>Family : </b> <%= animal.family %></li>
      <li>
        <% if (animal.status == "orphan"){ %>
          <a href="/animals/<%= animal.id %>/adopt">Adopt</a>
        <% } else { %>
          <a href="/animals/<%= animal.id %>/abandon">Abandon</a>
        <% } %>
      </li>
    </ul>
  </li>

<% }) %>

</ul>