<fieldset>
  <legend>Add an animal</legend>
  <form method="POST" action="/animals">
    <div class="form-group col-md-4">
      <input name="animal[breed]" class="form-control" placeholder="Breed"/>
    </div>
    <div class="form-group col-md-4">
      <input name="animal[family]"  class="form-control" placeholder="Family"/>
    </div>
    <div class="form-group col-md-4">
      <input name="animal[name]"  class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group col-md-4">
      <input name="animal[gender]"  class="form-control" placeholder="Gender(M F)"/>
    </div>
    <div class="form-group col-md-4">
      <input type="date" name="animal[dob]"  class="form-control" placeholder="Birthdate"/>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-success col-md-12">Add an Animal</button>
    </div>
  </form>
</fieldset>

<ul>
<% animals.forEach( function(animal){ %>
  <li>
    <h2><%= animal.name %></h2>
    <ul>
      <li><b>Breed :  </b> <%= animal.breed %></li>
      <li><b>Dob :    </b> <%= new Date(animal.dob).toDateString() %></li>
      <li><b>Gender : </b> <%= animal.gender %></li>
      <li><b>Family : </b> <%= animal.family %></li>
      <li>
        <% if (animal.status == "orphan"){ %>
          <a href="/animals/<%= animal.id %>/adopt">Adopt</a>
        <% } else { %>
          <a href="/animals/<%= animal.id %>/abandon">Abandon</a>
        <% } %>
      </li>
    </ul>
  </li>

<% }) %>

</ul>
