<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal Shelter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
  <h1>ANIMAL SHELTER</h1>
  <h2>Add an animal</h2>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Breed">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Family">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Gender (M / F)">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder = "dd/mm/yyyy">
    </div>
    <button type="submit" class="btn btn-success">Add an Animal</button>
  </form>

  <ul>
    <% animals.forEach(function(animal) { %>
      <h2><li><%= animal.name %></li></h2>
      <li><%= animal.breed %></li>
      <li><%= animal.dob %></li>
      <li><%= animal.gender %></li>
      <li><%= animal.family %></li>
      <li><a href="#"><%= animal.status %></a></li>
    <% }); %>
  </ul>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>

