<ul>
  <li> <%= animal.name %></li>
    <ul>
    <li> Breed: <%= animal.breed %></li>
    <li> DOB: <%= animal.dob %></li>
    <li> Gender: <%= animal.gender %></li>
    <li> Family: <%= animal.family %></li>
  </ul>
</ul>

<a href="./">Back</a>
