<h1><%= animal.name %></h1>
<ul>
  <li>Breed: <%= animal.breed %></li>
  <li>Dob: <%= animal.dob %></li>
  <li>Gender: <%= animal.gender %></li>
  <li>Family: <%= animal.family %></li>
  <li><form action=<%= animal["_id"] %> method="post"><button type="submit"><%= animal.status %></button></form></li>
</ul>
<a href="./">back</a>